# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Database
database/*.db

# Uploads & Reports
uploads/*
reports/*

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db